<div class="container-fluid" style="height:585px;">
    <div class="row" style="height:100%;">

        <div class="col-md-4">
            <div class="row" style="height:100%">
                <div class="col-md-12 bg-light border">
                   Video
                </div>                                
                <div class="col-md-12 bg-light border">
                    Chat room
                </div>
            </div>            
        </div>  

        <div class="col-md-8 bg-light border">            
            <div class="dropdown mt-3">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    New
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>

            <div class="border bg-white" style="height:520px;">
                Screen Sharing
            </div>
        </div>

    </div>
</div>

