<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="template.css">
    </head>
    <body ng-app>        
        <header ng-include="'header.ejs'"></header>
        <div ng-include="'content.ejs'"></div>        
        
        <script src="jquery.min.js"></script>                
        <script src="popper.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="angular.min.js"></script>
        <script src="angular-route.min.js"></script>
    </body>
</html>