<div>
    <ng-view></ng-view>
    <script type="text/ng-template" id="/home.html">
        <div ng-include="'teacher/home.ejs'"></div>
    </script>                     
    
    <script type="text/ng-template" id="/ConferenceRoom.html">
        <div ng-include="'teacher/ConferenceRoom.ejs'"></div>
    </script>
</div>

