<div class="container-fluid">
    <div class="row" style="height:545px;">        
        <div class="col-md-4 border border">
            <div id="videos-container" class="border" style="height:50%;"></div>
            <div class="border" style="height:50%;width:100%">B</div>
        </div>
        <div class="col-md-8 border">
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a id="ScreenSharing" class="dropdown-item" href="#">Screen Sharing</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
            <div id="dashboard" class="container border" style="height:93%;"></div>
        </div>        
    </div>
</div>