
<div class="container-fluid">
    <div class="row" style="position:relative;">
        <div class="col-md-4 border">
            <div id="videoconference" style="height:50%" class="border mt-2"></div>
            
            <ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <li class="nav-item">
                    <a class="nav-link" href="#whiteboard">white board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#screensharing">screen sharing</a>
                </li>
            </ul>
                       

        </div>
        <div class="col-md-8 border" style="height:545px;overflow:scroll;">
            <div id="whiteboard" style="background-color:blue;height:545px;">
                <h1>White Board</h1>
            </div>
            <div id="screensharing" style="background-color:red;height:545px;">
                <div class="container-fluid" style="height:70px;">
                    <h1>ScreenSharing</h1>
                </div>
            </div>
        </div>        
    </div>
</div>