<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="bootstrap.min.css">
        <link rel="stylesheet" href="css/getHTMLMediaElement.css">        
    </head>
    <body>
        <header><% include header%></header>
        <div id="ConferenceRoom" class="container-fluid bg-light" style="height:545px;">

        </div>
        <footer><% include footer%></footer>

        <script src="jquery.min.js"></script>
        <script src="popper.min.js"></script>
        <script src="bootstrap.min.js"></script>

        <script src="RTCMultiConnection.js"></script>
        <script src="main.js"></script>

        <script src="js/getHTMLMediaElement.js"></script>

        <script src="VideoConferencing.js"></script>
        <script src="adapter.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            document.getElementById('Notifi').onclick = function(){
                connection_3.join('VConferencing', function() {
                    console.log(connection_3.sessionid);
                });
            }
        </script>

    </body>
</html>