
<div class="container-fluid">
    <div class="row" style="position:relative;">
        <div class="col-md-4 bg-light">
            <div id="videoconference" style="height:50%" class="mt-2 bg-white border"></div>                                
        </div>
        <div class="col-md-8 bg-light" style="height:545px;">           
            <div id="screensharing"  class="bg-white my-2" style="height:530px;">               
            </div>
        </div>        
    </div>
</div>